#sideBar.col-md-2 
  #sideBar-container

    #brand
      a(href="#")
        h1 STICKER PAD

    #navbar
      ul#site-navigation
        li.menu-item
          a(href="#") New Post
        li.menu-item
          a(href="#") About
        li.menu-item
          a(href="#") Images


    #archive